body {
    margin: 0;
    padding: 0;
    height: 6000px;
    font-family: "Satisfy";
    font-size: 2em;
    background-color: #fafafa;
    color: #808080;
    cursor: none;
}

.abs {
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.abs img {
    border: 0 !important;
    box-shadow: 0 !important;
}

.white {
    background-color: #fafafa !important;
    box-shadow: 20px 0px 40px rgba(0, 0, 0, 0.2)!important;
}

.white #heading {
    color: #000 !important;
}

.white img {
    border: 6px solid #c7c3c3 !important;
    box-shadow: 10px 10px 2px 6px rgba(87, 84, 84, 0.096) !important;
}

.body::-webkit-scrollbar {
    display: none;
}

.body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.stamp {
    z-index: 1;
    right: -10px;
    position: fixed;
    top: calc(50vh -10 px);
    top: calc(50% - 9vh);
    height: 80px;
    width: 130px;
    transform: rotate(270deg);
    box-shadow: 0 0 100px #f3bc86;
    background-color: #f3bc86;
    border-radius-top: 20px;
    border-radius: 11px 48px 0 0;
}

.black {
    background-color: #141414 !important;
    box-shadow: 20px 0px 40px rgba(0, 0, 0, 0.2)!important;
}

.black #heading {
    color: #fafafa !important;
}

.black img {
    border: 6px solid #9f9f9f !important;
    box-shadow: 10px 10px 2px 6px rgba(87, 84, 84, 0.096) !important;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    width: 1400%;
    /*sections*100*/
    height: 100vh;
    display: flex;
    /*horizontal*/
}

.flex {
    height: 65px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.demoanimation {
    display: flex;
    position: absolute;
    background: linear-gradient(45deg, #FFFF00, transparent);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    animation: fadeinout 2s linear forwards infinite;
    align-items: center;
    justify-content: center;
}
.iconmessage{
    font-weight: 100;
    color: red;
}

.flex a {
    margin: 0;
    padding: 0;
}

@keyframes fadeinout {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.flex a img {
    position: relative !important;
}

#container .section {
    min-width: 85vw;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 0px 40px #00000033!important;
}

#container .section_inner {
    top: 5vh;
    position: relative;
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container .section_inner img {
    height: 100%;
    width: auto;
    border-radius: 3%;
    border: 6px solid #c7c7c7;
    box-shadow: 10px 10px 2px 6px rgba(255, 250, 250, 0.096);
}


/* #container .section_inner:nth-child(1) {
    background-color: blue;
  } */

#container .section:nth-child(1) {
    background-color: #fafafa;
    /*box-shadow: 1px 0px 100px grey;*/
}

#container .section:nth-child(2) {
    background-color: #141414;
    /*box-shadow: 1px 0px 100px grey;*/
}

#container .section:nth-child(3) {
    background-color: #141414;
    /* box-shadow: red; */
    /*justify-content: all;*/
    align-items: none;
}

#container .section:nth-child(4) {
    background-color: #141414;
    box-shadow: 20px 0px 40px rgba(0, 0, 0, 0.2);
}

#container .section {
    
    position: sticky;
    right: 0;
}
#container .section:nth-child(2) {

    z-index: -1;
}
#container .section:nth-child(3) {

    z-index: -2;
}
#container .section:nth-child(4) {

    z-index: -3;
}
#container .section:nth-child(5) {

    z-index: -4;
}
#container .section:nth-child(6) {
  
    z-index: -5;
}
#container .section:nth-child(7) {
  
    z-index: -6;
}
#container .section:nth-child(8) {
   
    z-index: -7;
}
#container .section:nth-child(9) {
   
    z-index: -8;
}
#container .section:nth-child(10) {
   
    z-index: -9;
}
#container .section:nth-child(11) {
   
    z-index: -10;
}
#container .section:nth-child(12) {
    z-index: -11;
}
#container .section:nth-child(13) {
    z-index: -12;
}
#container .section:nth-child(14) {
    z-index: -13;
}




.loader-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #141414;
    z-index: 1005;
    overflow-x: hidden;
    overflow-y: hidden;
}

.loading {
    left: 0%;
    top: 20%;
    opacity: 0.7;
    /*position: relative;*/
    font-family: futuraHv;
    font-size: 2em;
    color: #fafafa;
}


/* FONTS ==================*/

@font-face {
    font-family: futuraHv;
    src: url(FuturaHv.ttf);
}

@font-face {
    font-family: futuraLi;
    src: url(FuturaLi.ttf);
}


/* COMMON ================*/

.sidebar {
    position: fixed;
    top: 4%;
    z-index: 999;
    right: 3%;
    line-height: 0.8;
}

.social {
    z-index: 3;
    position: fixed;
    opacity: 0.9;
    bottom: 5%;
    right: 3%;
    width: 3%;
    /*width: 12%; horizontal*/
    /*transition: .3s ease-out;*/
}

.social a {
    padding: 10px;
    transition: 0.5s;
    font-size: 20px;
    border-radius: 5px;
}

.social a:hover {
    transform: translateY(-0.2em);
    border-radius: 5px;
    background-color: #e0e0e0;
    cursor: pointer;
}

.storyWrapper {
    /*padding-top: 10px;*/
    width: 3.3vw;
    height: 3.3vw;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-right: -3vw;
}

.storyMain {
    /*position: absolute;*/
    /*top: 1%;*/
    /*left: 1%;*/
    /*display: block;*/
    height: 3vw;
    width: 3vw;
    margin: auto;
    border-radius: 50%;
    align-self: center;
    background: #fafafa;
    z-index: 1;
}

.storyBorder {
    position: absolute;
    display: block;
    top: -50%;
    left: -50%;
    z-index: -9;
    display: block;
    height: 200%;
    /*border-radius:50%;*/
    width: 200%;
    transform: rotate(-45deg);
    overflow: hidden;
    /*background: red;*/
    background: linear-gradient( to right, #fafafa 20%, #fafafa 40%, #ecd08c 50%, #ecd08c 55%, #fafafa 70%, #fafafa 100%);
    background-size: 200% auto;
    animation: shine 1s linear infinite;
}


/*Begin shimmer code*/

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

fff .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    /*background-color: #e6e6e6;*/
    color: #808080;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin-left: -800%;
    margin-top: 80%;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    font-size: 0.6em;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


/* SECTION ONE ================*/

#maintext {
    float: left;
    margin-left: 30%;
    margin-top: 2%;
}

#fronttext {
    font-family: futuraHv;
    text-transform: uppercase;
    font-size: 3.3em;
    margin-top: -3%;
}

#fronttext span {
    color: black;
    transition: 0.1s;
}

#fronttext span:hover {
    color: #fafafa;
    -webkit-text-stroke: 2px #000;
    cursor: none;
}

#picme {
    z-index: 4;
    position: absolute;
    bottom: 0vw;
    left: 0;
}


/*SVG FORMATTING*/

#Layer_0 {
    z-index: 1000;
    position: absolute;
    opacity: 0.8;
    width: 20vh;
    left: 45%;
}

#Layer_1 {
    z-index: 1000;
    position: absolute;
    opacity: 0.8;
    width: 3.2vw;
}


/*
  #Layer_1b{
      z-index: 1000;
      position: absolute;
      opacity: .8;
      width: 6vw;
  }
  */

#Layer_2 {
    float: left;
    position: absolute;
    left: -3vw;
    bottom: -84px;
    z-index: 1;
    width: 48vw;
    /* background-size: 70px; */
}

#Layer_3 {
    float: right;
    position: absolute;
    right: 50vw;
    bottom: 25%;
    z-index: 200;
    width: 20vw;
    /*background-size: 70px;*/
}

#Layer_4 {
    position: absolute;
    width: 80vw;
    /*background-size: 70px;*/
}

#aboutLink {
    color: #808080;
    padding: 2%;
    border-radius: 6px;
    transition: 2s;
}

#aboutLink:hover {
    transform: translateY(0.2em);
    background: #e6e6e6;
}

#coketext #cokeImg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 20%;
    width: 50%;
    z-index: -10;
}

#coketext:hover #cokeImg {
    visibility: visible;
}

.cokebtn {
    color: rgba(244, 0, 0, 0.8);
}

.cokebtn:hover {
    background-color: rgba(244, 0, 0, 0.8);
    cursor: none !important;
    color: white;
    border-radius: 10px;
    padding: 5px;
}


/* SECTION TWO ================*/


/*ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
      border-bottom: 2px solid #F3BC86;
      color: #F3BC86;
      opacity: 1;
  }
  */

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#heading {
    color: #fafafa;
    z-index: 200;
    position: absolute;
    top: 5%;
    left: 10%;
    opacity: 0.6;
}

#heading2 {
    color: #fafafa;
    z-index: 200;
    position: absolute;
    top: 6%;
    right: 11%;
    opacity: 0.6;
}

.card #star {
    color: #1c1c1c;
    /*background-color: white;*/
    border-radius: 5px;
    margin-left: 2%;
    margin-top: 2%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    width: 20px;
    height: 20px;
    padding: 2%;
    position: absolute;
    visibility: hidden;
    font-size: 0.7em;
}

.card:hover #star {
    visibility: visible;
}

.card {
    /* Add shadows to create the "card" effect */
    background-color: #fafafa;
    box-shadow: 0 8px 16px 0 rgba(250, 250, 250, 0.05);
    transition: 0.5s;
    border-radius: 8px;
    /* 5px rounded corners */
    width: 25%;
    height: 85%;
    margin-right: 3%;
    border-bottom: 10px solid #fff;
}

.card img {
    border-radius: 8px 8px 0 0;
    /*filter: grayscale(1);*/
}

.card:hover img {
    border-radius: 8px 8px 0 0;
    /*filter: grayscale(0);*/
}


/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
    border-bottom: 10px solid #f3bc86;
    cursor: none;
    /* cursor: pointer; */
}


/* Add some padding inside the card container */

.content {
    padding: 2px 16px;
    font-size: 0.8em;
    color: #141414;
    font-family: futuraHv;
}

.project_card_desc {
    font-family: futuraLi;
    opacity: 0.7;
    font-size: 0.8em;
    margin-top: 3%;
}

#viewBtn {
    height: 80%;
    width: 4%;
    background-color: #141414;
    border: 1px solid #c7c7c7;
    padding: 0.8%;
    transition: 0s;
}

#viewContent {
    transform: rotate(-90deg);
    position: absolute;
    bottom: 50%;
    right: -1%;
}

#viewBtn:hover #viewContent {
    right: -135%;
}


/* SECTION THREE ================*/

/* #card2:nth-child(2) {
    margin-left: -48%;
} */

.content2 {
    /*padding: 10px;*/
    position: absolute;
    left: 5%;
    width: 50%;
    /* background-color: yellow; */
}

.content2 .item {
    font-size: 0.8em;
    color: #fafafa;
    line-height: 1.4;
    font-family: futuraHv;
    padding: 15px;
}

.item:hover {
    cursor: none !important;
    border-radius: 5px;
    border-left: 5px solid #f3bc86;
    /*background-color: #e0e0e0;*/
}

#image {
    height: 80%;
    /* background-color: red; */
    width: 35%;
    margin-left: 60%;
    padding: 5%;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    /* background: url("../images/Story_MS1.png"); */
}

.default {
    background: url("../images/Story_MS1.png");
}

.one {
    background: url("../images/Story_MS1.png");
}

.two {
    background: url("../images/Story_Sahayak2.jpg");
}

.three {
    background: url("../images/Story_Sahayak.jpg");
}

.four {
    background: url("../images/Story_poster.jpg");
}

.color {
    color: #f3bc86;
}

.smalltxt {
    font-family: futuraLi;
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 0.5em;
    letter-spacing: 2px;
}


/* SECTION FOUR ================*/

.about {
    border-radius: 10px;
    padding: 10px;
    text-decoration: underline;
    font-family: futuraHv;
    text-transform: uppercase;
    color: #141414;
    justify-content: center;
    align-items: center;
    /* transition: 0.5s ease-in-out; */
    /*border: 2px solid #141414;*/
}

.about:hover {
    /*border: 2px solid #fafafa;*/
    background-color: #e0e0e0;
}

#btn {
    border: none;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 25%;
    margin-left: 20%;
    display: none;
}


/*
  .tooltip {
    position: relative;
    display: inline-block;
    border: none;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }*/


/* 13" Screen ================*/

@media only screen and (max-width: 1350px) {
    .card {
        width: 32%;
        height: 75%;
        margin-right: 3%;
        border-bottom: 10px solid #fff;
    }
    #container .section_inner img {
        height: 15%;
    }

    .content {
        font-size: 0.7em;
    }
    #viewBtn {
        height: 80%;
        width: 4%;
        background-color: #141414;
        border: 1px solid #c7c7c7;
        padding: 0.8%;
        transition: 0s;
    }
    #viewContent {
        right: -7%;
    }
    /* #viewContent {
      bottom: 50%;
      right: 1.5%;
    }
  
    #viewBtn:hover #viewContent {
      bottom: 50%;
      right: -220%;
    } */
}


/* IPAD ================*/

@media only screen and (max-width: 1100px) and (orientation: portrait) {
    body {
        height: 2000px;
    }
    .sidebar {
        top: 2%;
        right: 8%;
        position: fixed;
    }
    .social {
        z-index: 3;
        position: fixed;
        opacity: 0.9;
        top: 2.2%;
        left: 5%;
        width: 60%;
        height: 10%;
    }
    #container .section_inner img {
        height: 35%;
    }
    #container .section {
        /*box-sizing: content-box;*/
        height: 100%;
        width: 99vw;
        padding: 5px;
    }
    #container .section{
        /*display: block;*/
        height: 100%;
    }
    #container .section:nth-child(3) {
        /*display: block;*/
        /* height: 80%; */
    }
    #container .section:nth-child(4) {
        /*display: block;*/
        /* height: 80%; */
    }
    #note {
        display: none;
    }
    #Layer_0 {
        width: 15vh;
        left: 40%;
    }
    /*#Layer_1{
          width: 13vw;
      }*/
    #Layer_2 {
        bottom: -3vw;
        left: -40vw;
        width: 70vw;
        transform: rotate(-105deg);
    }
    .card {
        z-index: 1;
        width: 75%;
        height: 50%;
        margin: 1%;
        margin-top: -15%;
    }
    #heading {
        top: 5%;
        left: 5%;
    }
    /*#heading:nth-child(1){
          margin-left: 10%;
      }*/
    /* #card2:nth-child(2) {
        margin-left: 1.6%;
    } */
    .content2 {
        /*position: absolute;*/
        right: 2%;
        /* width: 30%; */
        top: 12%;
    }
    #heading2 {
        position: relative;
        /*margin-top: 6%; */
        /*right: 16%;*/
        margin-left: 20%;
        margin-top: -50%;
        /*opacity: .6;*/
    }
    #viewBtn {
        position: absolute;
        height: 3%;
        width: 30%;
        top: 20%;
        right: 2%;
    }
    #viewContent {
        /*transform: rotate(0deg);*/
        top: 16%;
        right: 16%;
        transform: rotate(0deg);
        font-size: 0.7em;
    }
    /* #viewBtn:hover #viewContent { */
    /* bottom: 20%; */
    /* right: 10%; */
    /* } */
    /*	#viewBtn{
          height: 3%; 
          width: 85%; 
          align-items: center;
          text-align: center;
          margin-top: 10%;
      }
  
      #viewContent{
          position: absolute;
          transform: rotate(0deg);
          top:95%;
          right:14%;
      }
  
      #viewBtn:hover #viewContent{
      position: absolute;
      top: -11%;
      right:6%;
      }*/
}


/* IPAD ================*/

@media only screen and (max-width: 1100px) and (orientation: landscape) {
    body {
        height: 2000px;
    }
    #container .section_inner img {
        height: 50%;
    }
    .sidebar {
        top: 2%;
        right: 8%;
        position: fixed;
    }
    .social {
        z-index: 3;
        position: fixed;
        opacity: 0.9;
        top: 2.2%;
        left: 5%;
        width: 60%;
        height: 10%;
    }
    #container .section {
        /*box-sizing: content-box;*/
        height: 100%;
        width: 99vw;
        padding: 5px;
    }
    #container .section {
        /*display: block;*/
        height: 100%;
    }
    #container .section:nth-child(3) {
        /*display: block;*/
        /* height: 80%; */
    }
    #container .section:nth-child(4) {
        /*display: block;*/
        /* height: 80%; */
    }
    #note {
        display: none;
    }
    #Layer_0 {
        width: 15vh;
        left: 40%;
    }
    /*#Layer_1{
          width: 13vw;
      }*/
    #Layer_2 {
        bottom: -3vw;
        left: -40vw;
        width: 70vw;
        transform: rotate(-105deg);
    }
    .card {
        z-index: 100;
        width: 75%;
        /* height: 70%; */
        margin: 1%;
        margin-top: 15%;
    }
    #heading {
        top: 8%;
        left: 5%;
    }
    /*#heading:nth-child(1){
          margin-left: 10%;
      }*/
    /* #card2:nth-child(2) {
        margin-left: 1.6%;
    } */
    .content2 {
        /*position: absolute;*/
        right: 2%;
        /* width: 30%; */
        top: 20%;
    }
    #heading2 {
        position: relative;
        /*margin-top: 6%; */
        /*right: 16%;*/
        margin-left: 20%;
        margin-top: -50%;
        /*opacity: .6;*/
    }
    #viewBtn {
        position: absolute;
        height: 3%;
        width: 25%;
        top: -15%;
        right: 2%;
    }
    #viewContent {
        /*transform: rotate(0deg);*/
        top: 16%;
        right: 11%;
        transform: rotate(0deg);
        font-size: 0.7em;
    }
    #viewBtn:hover #viewContent {
        bottom: 20%;
        right: 10%;
    }
    /*	#viewBtn{
          height: 3%; 
          width: 85%; 
          align-items: center;
          text-align: center;
          margin-top: 10%;
      }
  
      #viewContent{
          position: absolute;
          transform: rotate(0deg);
          top:95%;
          right:14%;
      }
  
      #viewBtn:hover #viewContent{
      position: absolute;
      top: -11%;
      right:6%;
      }*/
}


/* MOBILE ================*/

@media only screen and (max-width: 600px) {
    body {
        max-width: 100vw;
        overflow-x: hidden;
    }
    #picme {
        /*left: -15vw;*/
        /*bottom: 9vh;*/
        width: 90%;
    }
    #container .section_inner img {
        height: 18%;
        width: 90%;
    }
    #container .section {
        box-sizing: content-box;
        height: 150%;
        width: 99vw;
        padding: 5px;
        overflow: hidden;
    }
    #container .section_inner {
        margin-left: 2%;
        display: flow-root;
    }
     #container .section:nth-child(1) {
        height: 180%;
    }
    /* #container .section:nth-child(2) {
        display: block;
        height: 250%;
    }  */
    #container .section {
        display: block;
        height: 250%;
    }
    /* #container .section:nth-child(4) {
        display: block;
        height: 120%;
    }
    #container .section:nth-child(5) {
        display: block;
        height: 100%;
    }
    #container .section:nth-child(5) p:nth-child(1) {
        margin-left: 15%;
        margin-top: 50%;
    }  */
    #maintext {
        font-size: 0.6em;
        margin-top: -90vh;
        margin-left: 0%;
    }
    .sidebar {
        top: 2%;
        right: 27%;
        position: fixed;
    }
    .social {
        z-index: 3;
        position: fixed;
        opacity: 0.9;
        top: 2.2%;
        left: 5%;
        width: 60%;
        height: 10%;
    }
    .storyWrapper {
        width: 13.3vw;
        height: 13.3vw;
        margin-right: -3vw;
        display: flex;
        margin-right: -160%;
        justify-content: center;
    }
    .storyMain {
        height: 12vw;
        width: 12vw;
        /*background: red;*/
    }
    .storyBorder {
        top: -50%;
        left: -50%;
        height: 200%;
        /*background: red;*/
        /*border-radius:50%;*/
        width: 200%;
    }
    #Layer_0 {
        width: 15vh;
        left: 35%;
    }
    #Layer_1 {
        width: 13vw;
        position: absolute;
        /*margin-right: -8%;*/
        /*right: 10%;*/
    }
    #Layer_2 {
        bottom: 45vw;
        left: -10vw;
        width: 130vw;
        transform: scaleY(-1);
    }
    #heading {
        position: relative;
        top: 2%;
    }

    /*#heading:nth-child(1){
          margin-top: -275%;
      }
  
      #heading2{
          display: none;
      }
  */
    .card {
        z-index: 100;
        width: 85%;
        height: 26%;
        margin: 5%;
        margin-top: 15%;
    }
    /* .card:nth-child(1) {
        margin-top: 16%;
    }
    #card2:nth-child(2) {
        margin-left: 5.2%;
    } */
    .content2 {
        position: absolute;
        right: 20%;
        width: 90%;
        top: 1%;
    }
    #image {
        display: none;
    }
    #heading2 {
        position: relative;
        /*margin-top: 6%; */
        /*right: 16%;*/
        margin-left: 22%;
        margin-top: 50%;
        /*opacity: .6;*/
    }
    /*
      #card2{
          z-index: 100;
          margin-top: -100%;
          height: 42%;
          width: 83%;
      }
  
      #card2:nth-child(2){
          margin-left: -35%;
      }
  
      #card2:nth-child(3){
          margin-left: -88%;
          margin-top: 155%;
      }*/
    .content {
        font-size: 0.7em;
    }
    #viewBtn {
        height: 3%;
        width: 85%;
        align-items: center;
        text-align: center;
        margin-top: 0%;
        top: 93%;
        left: 0%;
    }
    #viewContent {
        position: absolute;
        transform: rotate(0deg);
        top: 15%;
        right: 18%;
    }
    #viewBtn:hover #viewContent {
        position: absolute;
        top: 0%;
        right: 18%;
    }
    #note {
        display: none;
    }
    .cursor {
        display: none;
    }
    .cursor-follower {
        display: none;
    }
}


/*===========================*/


/* width */

 ::-webkit-scrollbar {
    width: 12px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #c1b9b9;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

 ::selection {
    background: #f2c69b;
}

 ::-moz-selection {
    /* Code for Firefox */
    background: #f2c69b;
}


/* =============================================== */

.cursor {
    position: fixed;
    background: #1c1c1c;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: scale(0.8);
}
  .sidebar b{
    font-weight: 500;
    font-family: "Satisfy";
    font-size: 0.5em;
    /* background-color: #fafafa; */
    color: #808080;
    cursor: none;
  }
.cursor::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background-image: url("../images/cursor_view.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    opacity: 0;
}

.cursor.active {
    opacity: 1;
    transform: scale(12);
}

.cursor.active::before {
    opacity: 1;
}

.cursor-follower {
    position: fixed;
    background: rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: translate(4px, 4px);
}

.cursor-follower.active {
    opacity: 0.3;
    transform: scale(0);
}

.portfolio-thumb {
    overflow: hidden;
    transition: all 2s cubic-bezier(0.25, 1, 0.3, 1);
}


/* .portfolio-thumb img {
    max-width: 360px;
    opacity: 0.4;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
    transform-origin: 90% center;
  } */

.portfolio-item:hover .portfolio-thumb {
    /* -webkit-text-stroke: 2px black; */
    /* transform: translateX(1.75rem); */
    /* letter-spacing: 15px; */
}


/* 
  .portfolio-item:hover .portfolio-thumb img {
    opacity: 0.8;
    transform: scale(1.2);
  } */


/* ///////////////////////////////////////////////////////newnnnnnnnnnnn */

.js-slide-content {
    background: black;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow-y: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

.lightbox-content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: opacity .4s;
    width: 100vw;
}

.App-app-1pE * {
    box-sizing: border-box;
}

#site-content,
#site-content * {
    box-sizing: border-box;
}

#lightbox-wrap img {
    max-height: 100vh;
    max-width: 100vw;
    pointer-events: none;
}

.lightbox-content .last-slide img,
.lightbox-content .last-slide iframe {
    opacity: .6;
}

.lightbox-overlay-slide .other-projects {
    height: 450px;
    /* left: 0; */
    /* margin-left: 30%; */
    margin-top: -165px;
    /* overflow: hidden; */
    /* padding-right: 30%; */
    position: absolute;
    top: 50%;
    width: calc(100% - 30%);
    z-index: 1007;
}

.lightbox-overlay-slide .other-projects .owners {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
    text-align: center;
}

.rf-tooltip--container {
    cursor: pointer;
    display: inline-block;
    margin-bottom: -5px;
    padding-bottom: 5px;
    position: relative;
}

.lightbox-overlay-slide .other-projects .owners .owners__name {
    display: inline-block;
}

.lightbox-overlay-slide .other-projects .project-covers {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
}

.lightbox-overlay-slide .other-projects .rf-project-cover {
    margin: 10px 10px 0px;
    padding: 0 0 10px 10p;
    background: white;
    border-radius: 15px;
}

.rf-owners {
    height: 24px;
    position: relative;
}

.rf-project-cover__fields {
    height: 23px;
}

.rf-project-cover__stats {
    font-family: inherit;
    font-size: 11px;
    font-weight: bold;
    -webkit-box-align: center;
    align-items: center;
    border-top: 1px #f2f2f2 solid;
    box-sizing: border-box;
    display: -webkit-box;
    display: flex;
    font-weight: normal;
    padding: 7px 0;
}

.rf-project-cover__curation-marks {
    max-width: 90px;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
}

.rf-project-cover::after {
    clear: both;
    content: "";
    display: block;
}

.rf-project-cover__image {
    border-radius: 15px;
    height: 153px;
    width: 221px;
}

.rf-project-cover__details {
    padding: 7px 10px 0 10px;
}

a {
    color: black;
    text-decoration: none;
}

.rf-project-cover__stat svg {
    fill: #959595;
    margin-right: 7px;
}

.rf-owners__owner-link {
    display: flex;
    align-items: center;
}

.rf-project-cover__fields-list {
    padding-left: 20px;
}

.abs {
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.abs img {
    border: 0 !important;
    box-shadow: none !important;
}
.card1 {
    border-radius: 31px;
    top: 20px;
    right: 12vw;
    position: fixed;
    z-index: 500000;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    width: 24%;
    background: wheat;
  }
  .card1 img{
      border-radius: 10px;
  }
  .card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .containerport {
    padding: 2px 20%;
  }
  .margin{
      margin: 0px;
  }
